# Dataset_Preprocessing

**Content**:
1. [Libraries](#libraries)
2. [Gridworld Creation](#gridworld)
3. [Functions](#funct)
4. [Uniform Dataset Preprocessing](#uniformtransformations)
5. [NonUniform Dataset Preprocessing](#nonuniformtransformations)

## 1. Libraries <a id = "libraries">

In [2]:
import numpy as np
import random
import sys
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.neural_network import MLPRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

## 2. Gridworld Creation <a id = "gridworld">

In [3]:
def randPair(s,e):
    return np.random.randint(s,e), np.random.randint(s,e)

class BoardPiece:

    def __init__(self, name, code, pos):
        self.name = name #name of the piece
        self.code = code #an ASCII character to display on the board
        self.pos = pos #2-tuple e.g. (1,4)

class BoardMask:

    def __init__(self, name, mask, code):
        self.name = name
        self.mask = mask
        self.code = code

    def get_positions(self): #returns tuple of arrays
        return np.nonzero(self.mask)

def zip_positions2d(positions): #positions is tuple of two arrays
    x,y = positions
    return list(zip(x,y))

class GridBoard:

    def __init__(self, size=4):
        self.size = size #Board dimensions, e.g. 4 x 4
        self.components = {} #name : board piece
        self.masks = {}

    def addPiece(self, name, code, pos=(0,0)):
        newPiece = BoardPiece(name, code, pos)
        self.components[name] = newPiece

    #basically a set of boundary elements
    def addMask(self, name, mask, code):
        #mask is a 2D-numpy array with 1s where the boundary elements are
        newMask = BoardMask(name, mask, code)
        self.masks[name] = newMask

    def movePiece(self, name, pos):
        move = True
        for _, mask in self.masks.items():
            if pos in zip_positions2d(mask.get_positions()):
                move = False
        if move:
            self.components[name].pos = pos

    def delPiece(self, name):
        del self.components['name']

    def render(self):
        dtype = '<U2'
        displ_board = np.zeros((self.size, self.size), dtype=dtype)
        displ_board[:] = ' '

        for name, piece in self.components.items():
            displ_board[piece.pos] = piece.code

        for name, mask in self.masks.items():
            displ_board[mask.get_positions()] = mask.code

        return displ_board

    def render_np(self):
        num_pieces = len(self.components) + len(self.masks)
        displ_board = np.zeros((num_pieces, self.size, self.size), dtype=np.uint8)
        layer = 0
        for name, piece in self.components.items():
            pos = (layer,) + piece.pos
            displ_board[pos] = 1
            layer += 1

        for name, mask in self.masks.items():
            x,y = self.masks['boundary'].get_positions()
            z = np.repeat(layer,len(x))
            a = (z,x,y)
            displ_board[a] = 1
            layer += 1
        return displ_board

def addTuple(a,b):
    return tuple([sum(x) for x in zip(a,b)])

In [4]:
class Gridworld:

    def __init__(self, size=4, mode='static'):
        if size >= 4:
            self.board = GridBoard(size=size)
        else:
            print("Minimum board size is 4. Initialized to size 4.")
            self.board = GridBoard(size=4)

        #Add pieces, positions will be updated later
        self.board.addPiece('Player','P',(0,0))
        self.board.addPiece('Goal','+',(0,3))
        self.board.addPiece('Pit','-',(0,3))
        self.board.addPiece('Wall','W',(2,3))

        if mode == 'static':
            self.initGridStatic()
        elif mode == 'player':
            self.initGridPlayer()
        else:
            self.initGridRand()

    #Initialize stationary grid, all items are placed deterministically
    def initGridStatic(self):
        #Setup static pieces
        self.board.components['Player'].pos = randPair(0,self.board.size) #Row, Column
        self.board.components['Goal'].pos = (3,0)
        self.board.components['Pit'].pos = (3,1)
        self.board.components['Wall'].pos = (3,2)
        
        if (not self.validateBoard()):
            #print('Invalid grid. Rebuilding..')
            self.initGridStatic()


    #Check if board is initialized appropriately (no overlapping pieces)
    #also remove impossible-to-win boards
    def validateBoard(self):
        valid = True

        player = self.board.components['Player']
        goal = self.board.components['Goal']
        wall = self.board.components['Wall']
        pit = self.board.components['Pit']

        all_positions = [piece for name,piece in self.board.components.items()]
        all_positions = [player.pos, goal.pos, wall.pos, pit.pos]
        if len(all_positions) > len(set(all_positions)):
            return False

        corners = [(0,0),(0,self.board.size), (self.board.size,0), (self.board.size,self.board.size)]
        #if player is in corner, can it move? if goal is in corner, is it blocked?
        if player.pos in corners or goal.pos in corners:
            val_move_pl = [self.validateMove('Player', addpos) for addpos in [(0,1),(1,0),(-1,0),(0,-1)]]
            val_move_go = [self.validateMove('Goal', addpos) for addpos in [(0,1),(1,0),(-1,0),(0,-1)]]
            if 0 not in val_move_pl or 0 not in val_move_go:
                #print(self.display())
                #print("Invalid board. Re-initializing...")
                valid = False

        return valid

    #Initialize player in random location, but keep wall, goal and pit stationary
    def initGridPlayer(self):
        #height x width x depth (number of pieces)
        self.initGridStatic()
        #place player
        self.board.components['Player'].pos = randPair(0,self.board.size)

        if (not self.validateBoard()):
            #print('Invalid grid. Rebuilding..')
            self.initGridPlayer()

    #Initialize grid so that goal, pit, wall, player are all randomly placed
    def initGridRand(self):
        #height x width x depth (number of pieces)
        self.board.components['Player'].pos = randPair(0,self.board.size)
        self.board.components['Goal'].pos = randPair(0,self.board.size)
        self.board.components['Pit'].pos = randPair(0,self.board.size)
        self.board.components['Wall'].pos = randPair(0,self.board.size)

        if (not self.validateBoard()):
            #print('Invalid grid. Rebuilding..')
            self.initGridRand()

    def validateMove(self, piece, addpos=(0,0)):
        outcome = 0 #0 is valid, 1 invalid, 2 lost game
        pit = self.board.components['Pit'].pos
        wall = self.board.components['Wall'].pos
        new_pos = addTuple(self.board.components[piece].pos, addpos)
        if new_pos == wall:
            outcome = 1 #block move, player can't move to wall
        elif max(new_pos) > (self.board.size-1):    #if outside bounds of board
            outcome = 1
        elif min(new_pos) < 0: #if outside bounds
            outcome = 1
        elif new_pos == pit:
            outcome = 2

        return outcome

    def makeMove(self, action):
        #need to determine what object (if any) is in the new grid spot the player is moving to
        #actions in {u,d,l,r}
        def checkMove(addpos):
            if self.validateMove('Player', addpos) in [0,2]:
                new_pos = addTuple(self.board.components['Player'].pos, addpos)
                self.board.movePiece('Player', new_pos)

        if action == 'u': #up
            checkMove((-1,0))
        elif action == 'd': #down
            checkMove((1,0))
        elif action == 'l': #left
            checkMove((0,-1))
        elif action == 'r': #right
            checkMove((0,1))
        else:
            pass

    def reward(self):
        if (self.board.components['Player'].pos == self.board.components['Pit'].pos):
            return -10
        elif (self.board.components['Player'].pos == self.board.components['Goal'].pos):
            return 10
        else:
            return -1

    def display(self):
        return self.board.render()

In [5]:
action_set = {
    0: 'u',
    1: 'd',
    2: 'l',
    3: 'r',
}

## 3. Functions <a id = 'funct'>

In [6]:
"""
from2dto1d:
    Args: 
        pos(tuple):2d position of the objects(Player, Wall, Goal, Pit) in the gridworld
    Return:
        return(integer): 1d position of the objects(Player, Wall, Goal, Pit)in the gridworld
""" 
def from2dto1d(pos):
    if pos == '(0, 0)':
        return 0
    if pos == '(0, 1)':
        return 1
    if pos == '(0, 2)':
        return 2
    if pos == '(0, 3)':
        return 3
    if pos == '(1, 0)':
        return 4
    if pos == '(1, 1)':
        return 5
    if pos == '(1, 2)':
        return 6
    if pos == '(1, 3)':
        return 7
    if pos == '(2, 0)':
        return 8
    if pos == '(2, 1)':
        return 9
    if pos == '(2, 2)':
        return 10
    if pos == '(2, 3)':
        return 11
    if pos == '(3, 0)':
        return 12
    if pos == '(3, 1)':
        return 13
    if pos == '(3, 2)':
        return 14
    if pos == '(3, 3)':
        return 15

In [7]:
def from1dto2d(pos):
    if pos == 0:
        return (0, 0)
    if pos == 1:
        return (0, 1)
    if pos == 2:
        return (0, 2)
    if pos == 3:
        return (0, 3)
    if pos == 4:
        return (1, 0)
    if pos == 5:
        return (1, 1)
    if pos == 6:
        return (1, 2)
    if pos == 7:
        return (1, 3)
    if pos == 8:
        return (2, 0)
    if pos == 9:
        return (2, 1)
    if pos == 10:
        return (2, 2)
    if pos == 11:
        return (2, 3)
    if pos == 12:
        return (3, 0)
    if pos == 13:
        return (3, 1)
    if pos == 14:
        return (3, 2)
    if pos == 15:
        return (3, 3)

## 4. Uniform Dataset Preprocessing <a id = "uniformtransformations">

In [8]:
df = pd.read_csv("DatasetBeforeUniform.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)   
df

,Current_State,Pit_Position,Goal_Position,Wall_Position,Current_Reward,Q1_UP,Q2_DOWN,Q3_LEFT,Q4_RIGHT
0,0,0,2,1,-10,2.614309,2.558848,3.948454,4.814851
1,2,0,2,1,10,6.871885,6.282998,6.243661,6.415882
2,3,0,2,1,-1,7.459104,5.998907,8.490587,6.589260
3,4,0,2,1,-1,0.305944,1.363386,3.014956,4.630818
4,5,0,2,1,-1,3.776497,4.053163,3.613774,8.103388
...,...,...,...,...,...,...,...,...,...
50395,10,15,13,14,-1,3.689109,7.530389,7.412851,6.018137
50396,11,15,13,14,-1,1.637386,3.614807,5.358669,4.984922
50397,12,15,13,14,-1,5.306869,7.611459,9.131452,12.008292
50398,13,15,13,14,10,7.040803,8.193069,7.585652,8.199212
50399,15,15,13,14,-10,3.081629,4.138750,3.752374,4.904089

### Rearrangement of dataset

In [9]:
counter = 0

h = 0
w, h = 6, 3000000
matrix = [[0 for x in range(w)] for y in range(h)] 

for i in range (0, df.shape[0]):
    game = Gridworld(size=4, mode='random')
    game.board.components['Player'].pos = from1dto2d(df["Current_State"][i])
    game.board.components['Goal'].pos = from1dto2d(df["Goal_Position"][i])
    game.board.components['Wall'].pos = from1dto2d(df["Wall_Position"][i])
    game.board.components['Pit'].pos = from1dto2d(df["Pit_Position"][i])
    
    pi = from2dto1d((str(game.board.components['Player'].pos)))
    game.makeMove('u')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df["Q1_UP"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('d')
        counter += 1 
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('d')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df["Q2_DOWN"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('u')
        counter += 1 
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('l')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df["Q3_LEFT"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('r')
        counter += 1 
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))   
    
    game.makeMove('r')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df["Q4_RIGHT"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('l')
        counter += 1

In [10]:
column_names = ["Player",  "Goal", "Wall", "Pit", "Q_value", "Reward"]
df_matrix = pd.DataFrame(matrix, columns = column_names)
df_matrix = df_matrix.loc[(df_matrix != 0).any(axis=1)]
df_matrix

        Player  Goal  Wall  Pit    Q_value  Reward
0            4     2     1    0   2.558848      -1
1            6     2     1    0   6.282998      -1
2            3     2     1    0   6.415882      -1
3            7     2     1    0   5.998907      -1
4            2     2     1    0   8.490587      10
...        ...   ...   ...  ...        ...     ...
141115       8    13    14   15   5.306869      -1
141116      13    13    14   15  12.008292      10
141117       9    13    14   15   7.040803      -1
141118      12    13    14   15   7.585652      -1
141119      11    13    14   15   3.081629      -1

[141120 rows x 6 columns]

In [11]:
# Drop duplicate positions
df_new = df_matrix.drop_duplicates(keep='last',subset=[ 'Player', 'Goal', 'Wall', 'Pit'])
df_new = df_new.reset_index()
df_new.drop('index', axis=1, inplace=True)   
df_new

       Player  Goal  Wall  Pit    Q_value  Reward
0           0     2     1    0   0.305944     -10
1           2     2     1    0   9.047926      10
2           3     2     1    0   7.594888      -1
3           4     2     1    0   2.538072      -1
4           5     2     1    0   5.857223      -1
...       ...   ...   ...  ...        ...     ...
50395       8    13    14   15   5.306869      -1
50396      13    13    14   15  12.008292      10
50397       9    13    14   15   7.040803      -1
50398      12    13    14   15   7.585652      -1
50399      11    13    14   15   3.081629      -1

[50400 rows x 6 columns]

### Bellman Operator Dataset Creation

In [12]:
no_dup_df = df_new
no_dup_df

       Player  Goal  Wall  Pit    Q_value  Reward
0           0     2     1    0   0.305944     -10
1           2     2     1    0   9.047926      10
2           3     2     1    0   7.594888      -1
3           4     2     1    0   2.538072      -1
4           5     2     1    0   5.857223      -1
...       ...   ...   ...  ...        ...     ...
50395       8    13    14   15   5.306869      -1
50396      13    13    14   15  12.008292      10
50397       9    13    14   15   7.040803      -1
50398      12    13    14   15   7.585652      -1
50399      11    13    14   15   3.081629      -1

[50400 rows x 6 columns]

In [13]:
counter = 0

h = 0
w, h = 7, 300000
matrix = [[0 for x in range(w)] for y in range(h)] 

for i in range (0, no_dup_df.shape[0]):
    game = Gridworld(size=4, mode='random')
    game.board.components['Player'].pos = from1dto2d(no_dup_df["Player"][i])
    game.board.components['Goal'].pos = from1dto2d(no_dup_df["Goal"][i])
    game.board.components['Wall'].pos = from1dto2d(no_dup_df["Wall"][i])
    game.board.components['Pit'].pos = from1dto2d(no_dup_df["Pit"][i])
    
    q_value = []
    reward_arr = []
    
    pi = from2dto1d((str(game.board.components['Player'].pos)))
    
    goal = int(no_dup_df["Goal"][i])
    pit = int(no_dup_df["Pit"][i])
    wall = int(no_dup_df["Wall"][i])
    
    matrix[counter][0] = pi
    matrix[counter][1] = no_dup_df["Goal"][i]
    matrix[counter][2] = no_dup_df["Wall"][i]
    matrix[counter][3] = no_dup_df["Pit"][i]
    matrix[counter][4] = no_dup_df["Q_value"][i]
    matrix[counter][5] = no_dup_df["Reward"][i]
    
    game.makeMove('u')
    p = from2dto1d((str(game.board.components['Player'].pos)))

    if p == pi:
        q_value.append(-10)
        reward_arr.append(-100)
    else:
        q_value.append(no_dup_df[(no_dup_df["Player"] == int(p)) & (no_dup_df["Goal"] == goal)  & (no_dup_df["Wall"] == wall) & (no_dup_df["Pit"] == pit)]['Q_value'].values[0])
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('d')
        
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('d')
    p = from2dto1d((str(game.board.components['Player'].pos)))
            
    if p == pi:
        q_value.append(-10)
        reward_arr.append(-100)
    else:
        q_value.append(no_dup_df[(no_dup_df["Player"] == p) & (no_dup_df["Goal"] == goal)  & (no_dup_df["Wall"] == wall) & (no_dup_df["Pit"] == pit)]['Q_value'].values[0])
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('u')
        
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('l')
    p = from2dto1d((str(game.board.components['Player'].pos)))
            
    if p == pi:
        q_value.append(-10)
        reward_arr.append(-100)
    else:
        q_value.append(no_dup_df[(no_dup_df["Player"] == p) & (no_dup_df["Goal"] == goal)  & (no_dup_df["Wall"] == wall) & (no_dup_df["Pit"] == pit)]['Q_value'].values[0])
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('r')
        
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))       
    game.makeMove('r')
    p = from2dto1d((str(game.board.components['Player'].pos)))
            
    if p == pi:
        q_value.append(-10)
        reward_arr.append(-100)
    else:
        q_value.append(no_dup_df[(no_dup_df["Player"] == p) & (no_dup_df["Goal"] == goal)  & (no_dup_df["Wall"] == wall) & (no_dup_df["Pit"] == pit)]['Q_value'].values[0])
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('l')
        
    
    max_qvalue = q_value[np.argmax(q_value)]
    reward_max = reward_arr[np.argmax(q_value)]
    bellman = max_qvalue*0.9 + reward_max
    if pi == goal or bellman > 10:
        matrix[counter][6] = 10
    else:
        matrix[counter][6] = bellman
    counter += 1

In [14]:
import pandas as pd
column_names = ["Player","Goal", "Wall", "Pit", "Q_Current", "Reward_Current", "Bellman_Operator"
                ]
bell_df = pd.DataFrame(matrix, columns = column_names)
bell_df = bell_df.loc[(bell_df != 0).any(axis=1)]
bell_df

       Player  Goal  Wall  Pit  Q_Current  Reward_Current  Bellman_Operator
0           0     2     1    0   0.305944             -10          1.284265
1           2     2     1    0   9.047926              10         10.000000
2           3     2     1    0   7.594888              -1         10.000000
3           4     2     1    0   2.538072              -1          4.271501
4           5     2     1    0   5.857223              -1          5.000492
...       ...   ...   ...  ...        ...             ...               ...
50395       8    13    14   15   5.306869              -1          5.827087
50396      13    13    14   15  12.008292              10         10.000000
50397       9    13    14   15   7.040803              -1         10.000000
50398      12    13    14   15   7.585652              -1         10.000000
50399      11    13    14   15   3.081629              -1          3.822802

[50400 rows x 7 columns]

In [15]:
bell_df.to_csv('DatasetAfterUniform.csv')

## 5. NonUniform Dataset Preprocessing <a id = "nonuniformtransformations">

In [64]:
df = pd.read_csv("DatasetBeforeNonUniform.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)   
df

,Epochs,Player,Pit,Goal,Wall,Action,Reward,Next_State,Epsilon_Boolean,Q_MAX,Q1_UP,Q2_DOWN,Q3_LEFT,Q4_RIGHT,Q1_UP_NEXT,Q2_DOWN_NEXT,Q3_LEFT_NEXT,Q4_RIGHT_NEXT,Q_MAX_NEXT,Y
0,5000,1,2,7,3,3,-10,2,0,3.510271,1.555545,2.999122,2.275227,3.510271,4.184848,5.752448,3.376853,4.921612,5.752448,-4.822797
1,5001,10,5,4,1,3,-1,9,0,5.080411,3.836540,3.423163,5.080411,0.274622,0.780820,3.465996,6.651873,2.987756,6.651873,4.986685
2,5001,9,5,4,1,2,-1,8,0,6.651873,0.780820,3.465996,6.651873,2.987756,9.241036,7.959845,7.022808,4.492457,9.241036,7.316933
3,5001,8,5,4,1,2,10,4,0,9.241036,9.241036,7.959845,7.022808,4.492457,7.231631,9.194542,6.686027,2.019725,9.194542,10.000000
4,5002,8,6,11,15,0,-1,9,0,6.946158,5.624981,4.882193,1.529516,6.946158,5.090035,6.036646,3.182453,9.009235,9.009235,7.108312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23271,9997,2,1,10,7,1,-1,6,1,7.669364,5.056441,7.669364,4.241444,2.276922,6.645481,9.331314,7.377896,4.460841,9.331314,7.398183
23272,9997,6,1,10,7,1,10,10,0,9.346166,6.648674,9.346166,7.398812,4.500574,8.230506,7.491100,8.188928,6.278389,8.230506,10.000000
23273,9998,8,12,13,1,1,-1,9,0,7.284459,3.953820,4.577577,6.689157,7.284459,7.070791,10.849091,7.721227,6.519612,10.849091,8.764182
23274,9998,9,12,13,1,3,10,13,0,10.839301,7.044550,10.839301,7.724490,6.530786,7.465142,8.581019,7.485756,7.726900,8.581019,10.000000
23275,9999,5,14,1,4,1,10,1,0,9.416005,9.416005,6.707954,7.508063,6.430914,8.961921,8.662556,8.952034,8.635556,8.961921,10.000000

In [86]:
# Drop duplicate positions
df_new = df.drop_duplicates(keep='last',subset=['Player', 'Goal', 'Wall', 'Pit'])
df_new = df_new[df_new["Epsilon_Boolean"] == 0]
df_new = df_new.reset_index()
df_new.drop('index', axis=1, inplace=True) 
df_new

,Epochs,Player,Pit,Goal,Wall,Action,Reward,Next_State,Epsilon_Boolean,Q_MAX,Q1_UP,Q2_DOWN,Q3_LEFT,Q4_RIGHT,Q1_UP_NEXT,Q2_DOWN_NEXT,Q3_LEFT_NEXT,Q4_RIGHT_NEXT,Q_MAX_NEXT,Y
0,5004,2,8,11,15,2,-1,6,0,5.909890,4.320633,5.909890,2.856439,5.646287,4.941091,7.628590,2.933277,9.168983,9.168983,7.252085
1,5004,6,8,11,15,1,-1,7,0,9.168983,4.941091,7.628590,2.933277,9.168983,6.625282,9.814299,4.422798,8.006432,9.814299,7.832869
2,5004,7,8,11,15,3,10,11,0,9.839411,6.664996,9.839411,4.547909,8.068445,7.417362,7.116096,4.127409,7.061332,7.417362,10.000000
3,5005,6,13,12,5,0,-1,10,0,2.970056,1.241508,2.970056,1.703728,1.097695,3.616126,3.550739,7.105997,3.113354,7.105997,5.395397
4,5005,10,13,12,5,1,-1,9,0,7.105997,3.616126,3.550739,7.105997,3.113354,1.268432,-0.746406,6.707844,3.494740,6.707844,5.037059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9979,9996,9,4,13,8,1,10,13,0,10.356079,7.248434,10.356079,7.163697,6.129197,8.028381,8.812263,8.893775,7.653226,8.893775,10.000000
9980,9997,6,1,10,7,1,10,10,0,9.346166,6.648674,9.346166,7.398812,4.500574,8.230506,7.491100,8.188928,6.278389,8.230506,10.000000
9981,9998,8,12,13,1,1,-1,9,0,7.284459,3.953820,4.577577,6.689157,7.284459,7.070791,10.849091,7.721227,6.519612,10.849091,8.764182
9982,9998,9,12,13,1,3,10,13,0,10.839301,7.044550,10.839301,7.724490,6.530786,7.465142,8.581019,7.485756,7.726900,8.581019,10.000000
9983,9999,5,14,1,4,1,10,1,0,9.416005,9.416005,6.707954,7.508063,6.430914,8.961921,8.662556,8.952034,8.635556,8.961921,10.000000

In [66]:
counter = 0

h = 0
w, h = 6, 3000000
matrix = [[0 for x in range(w)] for y in range(h)] 

for i in range (0, df_new.shape[0]):
    game = Gridworld(size=4, mode='random')
    game.board.components['Player'].pos = from1dto2d(df_new["Player"][i])
    game.board.components['Goal'].pos = from1dto2d(df_new["Goal"][i])
    game.board.components['Wall'].pos = from1dto2d(df_new["Wall"][i])
    game.board.components['Pit'].pos = from1dto2d(df_new["Pit"][i])
    
    pi = from2dto1d((str(game.board.components['Player'].pos)))
    game.makeMove('u')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df_new["Q1_UP"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('d')
        counter += 1 
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('d')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df_new["Q2_DOWN"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('u')
        counter += 1 
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('l')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df_new["Q3_LEFT"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('r')
        counter += 1 
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))   
    
    game.makeMove('r')
    p = from2dto1d((str(game.board.components['Player'].pos)))
    if p == pi:
        pass
    else:
        matrix[counter][0] = from2dto1d((str(game.board.components['Player'].pos)))
        matrix[counter][1] = from2dto1d((str(game.board.components['Goal'].pos)))
        matrix[counter][2] = from2dto1d((str(game.board.components['Wall'].pos)))
        matrix[counter][3] = from2dto1d((str(game.board.components['Pit'].pos)))
        matrix[counter][4] = df_new["Q4_RIGHT"][i]
        reward = game.reward()
        matrix[counter][5] = reward
        game.makeMove('l')
        counter += 1

In [90]:
column_names = ["Player",  "Goal", "Wall", "Pit", "Q_value", "Reward"]
df_matrix = pd.DataFrame(matrix, columns = column_names)
df_matrix = df_matrix.loc[(df_matrix != 0).any(axis=1)]
df_matrix

       Player  Goal  Wall  Pit   Q_value  Reward
0           6    11    15    8  5.909890      -1
1           1    11    15    8  2.856439      -1
2           3    11    15    8  5.646287      -1
3           2    11    15    8  4.941091      -1
4          10    11    15    8  7.628590      -1
...       ...   ...   ...  ...       ...     ...
30329       8    13     1   12  7.724490      -1
30330      10    13     1   12  6.530786      -1
30331       1     1     4   14  9.416005      10
30332       9     1     4   14  6.707954      -1
30333       6     1     4   14  6.430914      -1

[30334 rows x 6 columns]

In [68]:
# Drop duplicate positions
df_final = df_matrix.drop_duplicates(keep='last',subset=[ 'Player', 'Goal', 'Wall', 'Pit'])
df_final = df_final.reset_index()
df_final.drop('index', axis=1, inplace=True)   
df_final

       Player  Goal  Wall  Pit   Q_value  Reward
0           1    11    15    8  2.856439      -1
1           2    11    15    8  4.941091      -1
2           7    11    15    8  9.168983      -1
3           3    11    15    8  6.664996      -1
4           2    12     5   13  1.241508      -1
...       ...   ...   ...  ...       ...     ...
22224       8    13     1   12  7.724490      -1
22225      10    13     1   12  6.530786      -1
22226       1     1     4   14  9.416005      10
22227       9     1     4   14  6.707954      -1
22228       6     1     4   14  6.430914      -1

[22229 rows x 6 columns]

In [85]:
df_final.Reward.value_counts()

-1     18730
 10     2291
-10     1208
Name: Reward, dtype: int64

In [91]:
df_new = df_new[['Player', 'Goal', 'Wall', 'Pit', 'Q1_UP' ,'Q2_DOWN', 'Q3_LEFT' , 'Q4_RIGHT']].copy()
df_new

      Player  Goal  Wall  Pit     Q1_UP    Q2_DOWN   Q3_LEFT  Q4_RIGHT
0          2    11    15    8  4.320633   5.909890  2.856439  5.646287
1          6    11    15    8  4.941091   7.628590  2.933277  9.168983
2          7    11    15    8  6.664996   9.839411  4.547909  8.068445
3          6    12     5   13  1.241508   2.970056  1.703728  1.097695
4         10    12     5   13  3.616126   3.550739  7.105997  3.113354
...      ...   ...   ...  ...       ...        ...       ...       ...
9979       9    13     8    4  7.248434  10.356079  7.163697  6.129197
9980       6    10     7    1  6.648674   9.346166  7.398812  4.500574
9981       8    13     1   12  3.953820   4.577577  6.689157  7.284459
9982       9    13     1   12  7.044550  10.839301  7.724490  6.530786
9983       5     1     4   14  9.416005   6.707954  7.508063  6.430914

[9984 rows x 8 columns]

In [95]:
joined_df = pd.merge(df_new, df_final[['Player', 'Goal', 'Wall', 'Pit', 'Q_value', 'Reward']], on=['Player', 'Goal', 'Wall', 'Pit'], how='left')
joined_df = joined_df.dropna()
joined_df = joined_df.reset_index()
joined_df.drop('index', axis=1, inplace=True)   
joined_df

,Player,Goal,Wall,Pit,Q1_UP,Q2_DOWN,Q3_LEFT,Q4_RIGHT,Q_value,Reward
0,2,11,15,8,4.320633,5.909890,2.856439,5.646287,4.941091,-1.0
1,6,11,15,8,4.941091,7.628590,2.933277,9.168983,7.417938,-1.0
2,7,11,15,8,6.664996,9.839411,4.547909,8.068445,9.168983,-1.0
3,6,12,5,13,1.241508,2.970056,1.703728,1.097695,3.616126,-1.0
4,10,12,5,13,3.616126,3.550739,7.105997,3.113354,3.241566,-1.0
...,...,...,...,...,...,...,...,...,...,...
8758,5,13,8,4,4.361022,8.121880,1.555297,4.725045,7.248434,-1.0
8759,9,13,8,4,7.248434,10.356079,7.163697,6.129197,8.121880,-1.0
8760,6,10,7,1,6.648674,9.346166,7.398812,4.500574,8.211661,-1.0
8761,8,13,1,12,3.953820,4.577577,6.689157,7.284459,7.724490,-1.0
8762,9,13,1,12,7.044550,10.839301,7.724490,6.530786,7.284459,-1.0

### Bellman Operator Dataset Collection

In [97]:
no_dup_df = joined_df
no_dup_df

,Player,Goal,Wall,Pit,Q1_UP,Q2_DOWN,Q3_LEFT,Q4_RIGHT,Q_value,Reward
0,2,11,15,8,4.320633,5.909890,2.856439,5.646287,4.941091,-1.0
1,6,11,15,8,4.941091,7.628590,2.933277,9.168983,7.417938,-1.0
2,7,11,15,8,6.664996,9.839411,4.547909,8.068445,9.168983,-1.0
3,6,12,5,13,1.241508,2.970056,1.703728,1.097695,3.616126,-1.0
4,10,12,5,13,3.616126,3.550739,7.105997,3.113354,3.241566,-1.0
...,...,...,...,...,...,...,...,...,...,...
8758,5,13,8,4,4.361022,8.121880,1.555297,4.725045,7.248434,-1.0
8759,9,13,8,4,7.248434,10.356079,7.163697,6.129197,8.121880,-1.0
8760,6,10,7,1,6.648674,9.346166,7.398812,4.500574,8.211661,-1.0
8761,8,13,1,12,3.953820,4.577577,6.689157,7.284459,7.724490,-1.0
8762,9,13,1,12,7.044550,10.839301,7.724490,6.530786,7.284459,-1.0

In [99]:
counter = 0

h = 0
w, h = 7, 300000
matrix = [[0 for x in range(w)] for y in range(h)] 

for i in range (0, no_dup_df.shape[0]):
    game = Gridworld(size=4, mode='random')
    game.board.components['Player'].pos = from1dto2d(no_dup_df["Player"][i])
    game.board.components['Goal'].pos = from1dto2d(no_dup_df["Goal"][i])
    game.board.components['Wall'].pos = from1dto2d(no_dup_df["Wall"][i])
    game.board.components['Pit'].pos = from1dto2d(no_dup_df["Pit"][i])
    
    q_value = []
    reward_arr = []
    
    pi = from2dto1d((str(game.board.components['Player'].pos)))
    
    goal = int(no_dup_df["Goal"][i])
    pit = int(no_dup_df["Pit"][i])
    wall = int(no_dup_df["Wall"][i])
    
    matrix[counter][0] = pi
    matrix[counter][1] = no_dup_df["Goal"][i]
    matrix[counter][2] = no_dup_df["Wall"][i]
    matrix[counter][3] = no_dup_df["Pit"][i]
    matrix[counter][4] = no_dup_df["Q_value"][i]
    matrix[counter][5] = no_dup_df["Reward"][i]
    
    q_value.append(no_dup_df["Q1_UP"][i])
    q_value.append(no_dup_df["Q2_DOWN"][i])
    q_value.append(no_dup_df["Q3_LEFT"][i])
    q_value.append(no_dup_df["Q4_RIGHT"][i])
    
    game.makeMove('u')
    p = from2dto1d((str(game.board.components['Player'].pos)))

    if p == pi:
        reward_arr.append(-100)
    else:
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('d')
        
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('d')
    p = from2dto1d((str(game.board.components['Player'].pos)))
            
    if p == pi:
        reward_arr.append(-100)
    else:
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('u')
        
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))    
    game.makeMove('l')
    p = from2dto1d((str(game.board.components['Player'].pos)))
            
    if p == pi:
        reward_arr.append(-100)
    else:
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('r')
        
        
    pi = from2dto1d((str(game.board.components['Player'].pos)))       
    game.makeMove('r')
    p = from2dto1d((str(game.board.components['Player'].pos)))
            
    if p == pi:
        reward_arr.append(-100)
    else:
        reward = game.reward()
        reward_arr.append(reward)
        game.makeMove('l')
        
    
    max_qvalue = q_value[np.argmax(q_value)]
    reward_max = reward_arr[np.argmax(q_value)]
    bellman = max_qvalue*0.9 + reward_max
    if pi == goal or bellman > 10:
        matrix[counter][6] = 10
    else:
        matrix[counter][6] = bellman
    counter += 1

In [100]:
import pandas as pd
column_names = ["Player","Goal", "Wall", "Pit", "Q_Current", "Reward_Current", "Bellman_Operator"
                ]
bell_df = pd.DataFrame(matrix, columns = column_names)
bell_df = bell_df.loc[(bell_df != 0).any(axis=1)]
bell_df

      Player  Goal  Wall  Pit  Q_Current  Reward_Current  Bellman_Operator
0          2    11    15    8   4.941091            -1.0          4.318901
1          6    11    15    8   7.417938            -1.0          7.252085
2          7    11    15    8   9.168983            -1.0         10.000000
3          6    12     5   13   3.616126            -1.0          1.673050
4         10    12     5   13   3.241566            -1.0          5.395397
...      ...   ...   ...  ...        ...             ...               ...
8758       5    13     8    4   7.248434            -1.0          6.309692
8759       9    13     8    4   8.121880            -1.0         10.000000
8760       6    10     7    1   8.211661            -1.0         10.000000
8761       8    13     1   12   7.724490            -1.0          5.556013
8762       9    13     1   12   7.284459            -1.0         10.000000

[8763 rows x 7 columns]

In [101]:
bell_df.to_csv('DatasetAfterNonUniform.csv')